<!DOCTYPE html>
<html>
	<head>
		<title>First Project</title>
		<link href="Styles/StyleSheet.css" rel="stylesheet"/>
	</head>
<body>
	<header>
		<nav>
			<ul class="header-list">
			<li class="list-item"><a class="Link" asp-action="Index">Home</a></li>
				<li class="list-item"><a class="Link" asp-action="Secondpage">SecondPage</a></li>
			</ul>
		</nav>



	</header>
		<main>
			@RenderBody()

		</main>


<footer>
	<div>
	Call me Baybe!!!!!!!!!!!!!
		</div>
</footer>

	</body>

</html>